
/target/
/surefire-reports/
/failsafe-reports/


.idea/
/.vscode/
*.iml
*.iws
*.ipr
/out/

.project
.classpath
.settings/
/bin/


# Allure
/allure-results/
/allure-report/

            
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

*.log
*.tmp
*.swp
*.swo

